<link rel="stylesheet" href="/css/Navbar.css">

<nav class="mini">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <div class="logo">
        <a href="LandingPage.ejs"><img class="logo-img" src="../images/logo-1.jpg"></a>
        <label class="Name">E-LEARN</label>
    </div>
</nav>