<link rel="stylesheet" href="/css/Navbar.css">

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <div class="logo">
        <img class="logo-img" src="../images/logo-1.jpg">
        <label class="Name">E-LEARN</label>
    </div>

    <ul>
        <li class="link"><a class="active anc" href="main">Home</a></li>
        <li class="link"><a class="anc" href="allCourses">Programs</a></li>
        <!-- <li class="link"><a class=" anc" href="usersEnrolled">Enrolled</a></li> -->
        <li class="link"><a class="anc" href="addCourse">Publish</a></li>
        <li class="link"><a class="anc" href="Feedback">Feedback</a></li>
        <li class="link"><a class="anc" href="#">Categories</a></li>
    </ul>
</nav>